<ion-view title="SPORTIFY" id="page1">
 <ion-nav-bar class="bar-calm">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-calm icon ion-android-menu" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <h2 id="home-heading1" style="color:#000000;font-weight:300;text-align:center;">Play Like A Boss!!</h2>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="home-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="home-list4">
    <div>
    <ion-item class="item-thumbnail-left" id="home-list-item11">
      <img src="img/product.jpg" width="200px" height="50px" alt="product image">
        <h2>Kokan Ground Buhadurabad</h2>
          <p style="white-space:normal;">Details about the Ground. Kokan Ground is a Lush green grassy ground with Cement Pitch.</p>
            <button class="button button-calm button-small" style="float: right;" ng-click="bookMe('Kokan Ground', '1')">Book Now</button>
    </ion-item>
    <ion-item class="item-divider" style="min-height: 10px;" id="home-list-item-divider1"></ion-item>
    </div>

    <div>
    <ion-item class="item-thumbnail-left" id="home-list-item11">
      <img src="img/product.jpg" width="200px" height="50px" alt="product image">
        <h2>A.A.Shah Ground Nazimabad</h2>
          <p style="white-space:normal;">Details about the Ground. Asghar Ali shah is an International standard Ground with flood lights and other facilities.</p>
            <button class="button button-calm button-small" style="float: right;" ng-click="bookMe('Asghar Ali Shah','2')">Book Now</button>
    </ion-item>
    <ion-item class="item-divider" style="min-height: 10px;" id="home-list-item-divider1"></ion-item>
    </div>

    <div>
    <ion-item class="item-thumbnail-left" id="home-list-item11">
      <img src="img/product.jpg" width="200px" height="50px" alt="product image">
        <h2>Nazir Hussain Young Fighter Nazimabad</h2>
          <p style="white-space:normal;">Details about the ground. Nazir hussain Young Fighter ground is the Best available Ground in town with net practice facility.</p>
            <button class="button button-calm button-small" style="float: right;" ng-click="bookMe()">Book Now</button>
    </ion-item>
    <ion-item class="item-divider" style="min-height: 10px;" id="home-list-item-divider1"></ion-item>
    </div>
  </ion-content>
</ion-view>