<ion-view title="Shop Form" id="page7">
 <ion-nav-bar class="bar-calm">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-calm icon ion-android-menu" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-calm icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="shopForm-form5" class="list">
      <label class="item item-input" id="shopForm-input7">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="Name:">
      </label>
      <label class="item item-input" id="shopForm-input8">
        <span class="input-label">Email:</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="shopForm-input9">
        <span class="input-label">Phone:</span>
        <input type="tel" placeholder="Phone no.">
      </label>
      <label class="item item-input" id="shopForm-input10">
        <span class="input-label">Address:</span>
        <input type="text" placeholder="Address">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <form id="shopForm-form6" class="list">
      <label class="item item-input" id="shopForm-input11">
        <span class="input-label">Shop Name:</span>
        <input type="text" placeholder="Shop Name">
      </label>
      <label class="item item-select" id="shopForm-select1">
        <span class="input-label">Select Category</span>
        <select>
          <option>Crafts</option>
          <option>Electronics</option>
          <option>Sports</option>
          <option>Home Appliences</option>
          <option>Baby &amp; Toys</option>
          <option>Entertainment</option>
        </select>
      </label>
      <label>
      <button style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon-right ion-log-in">Submit</button>  

      </label>

    </form>
  </ion-content>
</ion-view>