<ion-view title="Tournaments
" id="page5">
 <ion-nav-bar class="bar-calm">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-calm icon ion-android-menu" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-calm icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <h2 id="home-heading1" style="color:#000000;font-weight:300;text-align:center;">Play Like A Boss!!</h2>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="selectCategory-list9">
      <ion-item class="item-thumbnail-left" id="selectCategory-list-item8">
        <h2>All Start Tape Ball Tournaments</h2>
        <p style="white-space:normal;">This is Tournaments Details. </p>
        <button style="float: right;" class="button button-small button-calm button-" >Register</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="selectCategory-list-item9">
        <h2>Pak Starts Hard Ball Tournaments</h2>
        <p style="white-space:normal;">This is Tournaments Detals. </p>
        <button style="float: right;" class="button button-small button-calm button-" >Register</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="selectCategory-list-item10">
        <h2>My Tournaments</h2>
        <p style="white-space:normal;">This is Tournaments Details.  </p>
        <button style="float: right;" class="button button-small button-calm button-" >Register</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="selectCategory-list-item13">
        <h2>Buy Stuff</h2>
        <p style="white-space:normal;">We also Sell Cricket accessories. </p>
        <button style="float: right;" class="button button-small button-calm button-" >Buy Items</button>
      </ion-item>
  </ion-content>
</ion-view>